.cabecalhoPrincipal .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

.videoSobre .container {
    display: flex;
    justify-content: space-between;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 252px;
}

.rodapePrincipal-patrocinadores .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    width: 25%;
}